@import "./theme.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 60px auto;
  width: 70%;
  background: var(--primary-background);
  color: var(--text-color);
  font-family: "Segoe UI", sans-serif;
}

a {
  text-decoration: none;
  color: var(--link-color);
}
a.zola-anchor {
  margin-left: 0.5em;
}

a:hover {
  text-decoration: underline;
}

p,
ul,
ol {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}
h1 {
  font-size: 1.875rem;
  margin: 0.67rem 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0.83rem 0;
}

h3 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

h4 {
  font-size: 1.05rem;
  margin: 1.33rem 0;
}

h5 {
  font-size: 1rem;
  margin: 1.5rem 0;
}

h6 {
  font-size: 0.875rem;
  margin: 2.33rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent-color);
  padding-bottom: 1em;
}

nav ul,
footer ul {
  font-size: 1em;
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li,
footer ul li {
  display: inline;
  margin-right: 20px;
}

nav select {
  height: 3em;
}

footer {
  border-top: 1px solid var(--accent-color);
  padding-top: 0.5em;
  margin-top: 0.5em;
  font-size: 0.8em;
}

/* Blog */

ul.posts {
  margin: 20px auto 40px;
}
ul.posts .date {
  font-family: monospace;
  font-size: 120%;
}
img {
  max-width: 100%;
}

blockquote {
  border-left: 2px inset var(--accent-color);
  padding: 1em;
  margin-left: 1em;
  background: rgba(0, 0, 0, 0.1);
}
blockquote > p:first-child,
blockquote > p:last-child {
  margin-top: 0;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 85%;
  padding: 0.2em 0.4em;
  margin: 0;
  white-space: break-spaces;
  border-radius: 6px;
  background: var(--secondary-background);
}
pre:has(code) {
  padding: 0.4em;
  position: relative;
  border: 1px solid var(--accent-color);
}
pre > code {
  background: inherit;
  padding: 0;
}
.copy-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.footnote-definition {
  border-left: 2px inset var(--accent-color);
  border-top: 2px inset var(--accent-color);
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  margin-left: 1em;
  font-size: 80%;
}
.footnote-definition > p:last-child {
  margin-bottom: 0;
}
.footnote-definition-label::before {
  content: "#";
}
.footnote-definition-label {
  float: left;
}

/* Header links */

h1 a,
h2 a,
h3 a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.site-container {
  ul {
    padding-left: 40px;
  }
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em;
  border: 1px solid var(--accent-color);
}

tr:nth-child(even),
thead > tr {
  background-color: var(--secondary-background);
}
